/* Site Stylesheet */

/* Yahoo YUI3 CSS Reset */
@import url(http://yui.yahooapis.com/3.1.0/build/cssreset/reset-min.css); 
@import url(http://wf.typotheque.com/WF-009837-000414);

body{
  font-family: "Greta Text", georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal;
  font-size:10pt;
}

pre,code,textarea{
  font-family: "Fedra Mono Medium 2", monospace;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal;
  color:#666;
}

textarea{
  width:20em;
  height:30em;
  position:absolute;
  top:5em;
  left:40em;
  border:1px solid #aaa;
  padding:1em;
}
#sketch{
  background-color:rgb(23,132,200);
  width:300px;
  height:300px;
  top:5em;
  left:5em;
  position:absolute;
}
#sketch canvas{
  position:absolute;
  top:100px;
  left:100px;
  height:100px;
  width:100px;
  border:1px solid black;
}